* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --default-color: #7ed957;
    --text-color: #333;
  }
  

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--default-color);
}

/* Main */
main {
    display: grid;
    place-items: center;
    min-height: 100vh; 
    background-color: var(--default-color); 
    align-content: center;
 }
 .formBox {
    place-items: center;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--form-color);
    max-width: 100svw;
    max-height: 100svh;
    width: min-content;
    min-width: 30svw;
    
 }
 .formBox img {
    width: 200px;
    height: 100px;
 }

form {
    place-items: center;
    display: grid;
    justify-items: stretch;
    min-width: 250px;
 }
 form input{
    border: none;
    font-size: 12pt;
    padding: 6px;
 }
 form button {
    border: none;
    font-size: 12pt;
    padding: 6px;
    margin-bottom: 3px;
    
 }

/* Footer */
.site-footer {
    background-color: #66b84a; 
    color: var(--text-color);
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0px;
    
  }
  
  .site-footer p {
    margin: 5px 0;
  }