* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --default-color: #7ed957;
    --text-color: #333;
  }
  

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--default-color);
}

.texts {
    text-align: justify;
    margin: 70px 40px 70px 30px;
}
.texts img {
    width: 200px;
    height: 100px;
}
.logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
 
  main {
    flex: 1;
  }

/* Footer */
.site-footer {
    background-color: #66b84a; 
    color: var(--text-color);
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0px;
    
  }
  
  .site-footer p {
    margin: 5px 0;
  }
