<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha - Finance Company</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/change-password.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" id="favicon">
</head>
<body>
    <main>
        <div class="texts">
            <h1>Alterar senha</h1><br>
        </div>
        <div class="formBox">

            <img src="{{ url_for('static', filename='img/bank-logo2.svg') }}" alt="Logo" class="logo">

            <form action="" method="POST">
                <label for="password">Criar senha</label><br>
                <input type="password" name="password" id="password" required>
                <br>
                <label for="password">Confirmar senha</label><br>
                <input type="password" name="password" id="password" required>
                <br>
                
                <button type="button" onclick="goToPage()">Alterar senha</button>

            </form>
        </div>
    </main>
    <footer class="site-footer">
        <div class="footer-content">
          <p>&copy; 2025 Victor Galiza — Projeto de portfólio.</p>
          <p>Este site é fictício e foi criado apenas para fins de demonstração.</p>
        </div>
      </footer>
      <script>
        function goToPage() {
            window.location.href = "{{ url_for('successfulChange') }}";
  }
      </script>
</body>
</html>