<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha - Finance Company</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot-password.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" id="favicon">
</head>
<body>
    <main>
        <div class="texts">
            <h1>Recuperar senha</h1><br>
        </div>
        <div class="formBox">

            <img src="{{ url_for('static', filename='img/bank-logo2.svg') }}" alt="Logo" class="logo">

            <form action="action_page.php" method="POST">
                <label for="email">E-mail</label><br>
                <input type="email" name="email" id="email" required>
                <br>
                
                <button type="button"><a onclick="goToPage()">Enviar link para recuperação de senha</a></button>

            </form>
        </div>
    </main>
    <footer class="site-footer">
        <div class="footer-content">
          <p>&copy; 2025 Victor Galiza — Projeto de portfólio.</p>
          <p>Este site é fictício e foi criado apenas para fins de demonstração.</p>
        </div>
      </footer>

      <script>
        function goToPage() {
            window.location.href = "{{ url_for('changePassword') }}";
  }
      </script>
</body>
</html>