<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar - Finance Company</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" id="favicon">

</head>
<body>
    <main>
        <div class="formBox">

            <img src="{{ url_for('static', filename='img/bank-logo2.svg') }}" alt="Logo" class="logo">

            <form action="action_page.php" method="POST">
                <label for="userNumber">Usuário (CPF)</label><br>
                <input type="text" name="userNumber" id="userNumber" maxlength="11" pattern="\d{11}"  required>
                <br>
                <label for="email">E-mail</label><br>
                <input type="email" name="email" id="email" required>
                <br>
                <label for="password">Criar Senha</label><br>
                <input type="password" name="password" id="password" required>
                <br>
                <label for="confirmPassword">Confirmar Senha</label><br>
                <input type="password" name="confirmPassword" id="confirmPassword" required>
                <br>
                <label>
                    <input type="checkbox" name="terms" required> Li e aceito os <a class="action-link" href="{{ url_for('terms') }}">Termos de Uso e a Política de Privacidade</a>

                </label>
                <br>
                <button type="submit">Registrar</button>

                <p class="login-link">
                    Já possui uma conta? <a class="action-link" href="{{ url_for('login') }}">Entrar</a>
                </p>
            </form>
        </div>
    </main>
    <footer class="site-footer">
        <div class="footer-content">
          <p>&copy; 2025 Victor Galiza — Projeto de portfólio.</p>
          <p>Este site é fictício e foi criado apenas para fins de demonstração.</p>
        </div>
      </footer>
</body>
</html>