<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alteração de senha realizada! - Finance Company</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/successful-change.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" id="favicon">
</head>
<body>
    <main>
            <div class="texts">
                <h1>Senha alterada com sucesso!</h1><br>
                <p class="login-link">
                     <a class="action-link" href="{{ url_for('login') }}">Faça login</a>
                </p>
            </div>
    </main>
    <footer class="site-footer">
        <div class="footer-content">
          <p>&copy; 2025 Victor Galiza — Projeto de portfólio.</p>
          <p>Este site é fictício e foi criado apenas para fins de demonstração.</p>
        </div>
      </footer>
</body>
</html>